/*#wel{
    color: blue;
    background-color: brown;
}*/
.black{
    background-color:black;
    color: cornsilk;
    font-family: Helvetica ;
}
.white{
    background-color: white;
    color: black;
    font-family: Airal ;    

}
